<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <style>
        .loader {
            background: #000;
            background: radial-gradient(#222, #000);
            bottom: 0;
            left: 0;
            overflow: hidden;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 99999;
        }

        .loader-inner {
            bottom: 0;
            height: 60px;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            top: 0;
            width: 100px;
        }

        .loader-line-wrap {
            animation: spin 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
            box-sizing: border-box;
            height: 50px;
            left: 0;
            overflow: hidden;
            position: absolute;
            top: 0;
            transform-origin: 50% 100%;
            width: 100px;
        }

        .loader-line {
            border: 4px solid transparent;
            border-radius: 100%;
            box-sizing: border-box;
            height: 100px;
            left: 0;
            margin: 0 auto;
            position: absolute;
            right: 0;
            top: 0;
            width: 100px;
        }

        .loader-line-wrap:nth-child(1) {
            animation-delay: -50ms;
        }

        .loader-line-wrap:nth-child(2) {
            animation-delay: -100ms;
        }

        .loader-line-wrap:nth-child(3) {
            animation-delay: -150ms;
        }

        .loader-line-wrap:nth-child(4) {
            animation-delay: -200ms;
        }

        .loader-line-wrap:nth-child(5) {
            animation-delay: -250ms;
        }

        .loader-line-wrap:nth-child(1) .loader-line {
            border-color: hsl(0, 80%, 60%);
            height: 90px;
            width: 90px;
            top: 7px;
        }

        .loader-line-wrap:nth-child(2) .loader-line {
            border-color: hsl(60, 80%, 60%);
            height: 76px;
            width: 76px;
            top: 14px;
        }

        .loader-line-wrap:nth-child(3) .loader-line {
            border-color: hsl(120, 80%, 60%);
            height: 62px;
            width: 62px;
            top: 21px;
        }

        .loader-line-wrap:nth-child(4) .loader-line {
            border-color: hsl(180, 80%, 60%);
            height: 48px;
            width: 48px;
            top: 28px;
        }

        .loader-line-wrap:nth-child(5) .loader-line {
            border-color: hsl(240, 80%, 60%);
            height: 34px;
            width: 34px;
            top: 35px;
        }

        @keyframes spin {

            0%,
            15% {
                transform: rotate(0);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
    <title>HomePage</title>
</head>

<body onload="func1()">
    <div class="loader" id="loader">
        <div class="loader-inner">
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
        </div>
    </div>
    <!-- NavBar -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">AQWAVE</a>
            <button Full Article class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"
                            style="color: black; size: 30px;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: black; size: 30px;">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: black; size: 30px;">AboutUs</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" style="color: black; size: 30px;">
                            Sources
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Hosting Platform</a></li>
                            <li><a class="dropdown-item" href="#">Devices used</a></li>
                            <li>
                                <a class="dropdown-item" href="#">Developer Portfolio</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Navbar -->

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <img src="{{imgu}}" class="card-img-top" alt="{{imgu}}">
                <div class="card-body">
                    <h5 class="card-title">{{con}}</h5>
                    <p class="card-text">{{desc}}</p>
                </div>
                <a href="{{urlg}}"class="btn btn-primary">Show Full Article</a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{{imgu1}}" class="card-img-top" alt="{{imgu}}">
                <div class="card-body">
                    <h5 class="card-title">{{con1}}</h5>
                    <p class="card-text">{{desc1}}</p>
                </div>
                <a href="{{urlg1}}" class="btn btn-primary">Show Full Article</a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{{imgu2}}" class="card-img-top" alt="{{imgu}}">
                <div class="card-body">
                    <h5 class="card-title">{{con2}}</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content.</p>
                </div>
                <a href="{{urlg2}}" class="btn btn-primary">Show Full Article</a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{{imgu3}}" class="card-img-top" alt="{{imgu}}">
                <div class="card-body">
                    <h5 class="card-title">{{con3}}</h5>
                    <p class="card-text">{{desc3}}</p>
                </div>
                <a href="{{urlg3}}" class="btn btn-primary">Show Full Article</a>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <img src="{{imgu4}}" class="card-img-top" alt="{{imgu}}">
                <div class="card-body">
                    <h5 class="card-title">{{con4}}</h5>
                    <p class="card-text">{{desc4}}</p>
                </div>
                <a href="{{urlg4}}" class="btn btn-primary">Show Full Article</a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{{imgu5}}" class="card-img-top" alt="{{imgu}}">
                <div class="card-body">
                    <h5 class="card-title">{{con5}}</h5>
                    <p class="card-text">{{desc5}}</p>
                </div>
                <a href="{{urlg5}}" class="btn btn-primary">Show Full Article</a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{{imgu6}}" class="card-img-top" alt="{{imgu}}">
                <div class="card-body">
                    <h5 class="card-title">{{con6}}</h5>
                    <p class="card-text">{{desc6}}.</p>
                </div>
                <a href="{{urlg6}}" class="btn btn-primary">Show Full Article</a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{{imgu7}}" class="card-img-top" alt="{{imgu}}">
                <div class="card-body">
                    <h5 class="card-title">{{con7}}</h5>
                    <p class="card-text">{{desc7}}</p>
                </div>
                <a href="{{urlg7}}" class="btn btn-primary">Show Full Article</a>
            </div>
        </div>
    </div>
    {{!-- <div class="card">
        <h5 class="card-header"></h5>
        <div class="card" style="width: 18rem;">
            <img src="{{imgu}}" class=" card-img-top" alt="...">
            <h5 class="card-title">{{con}}</h5>
            <p class="card-text">{{desc0}}</p>
            <a href="{{urlg}}" class="btn btn-primary">Go To Source</a>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header">AQWAVE</h5>
        <div class="card" style="width: 18rem;">
            <img src="{{imgu1}}" class=" card-img-top" alt="...">
            <h5 class="card-title">{{con1}}</h5>
            <p class="card-text">{{desc1}}</p>
            <a href="{{urlg1}}" class="btn btn-primary">Go To Source</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{{imgu2}}" class=" card-img-top" alt="...">
        <h5 class="card-title">{{con2}}</h5>
        <p class="card-text">{{desc2}}</p>
        <a href="{{urlg2}}" class="btn btn-primary">Go To Source</a>
    </div>
    </div>
    <div class="card">
        <h5 class="card-header">AQWAVE</h5>
        <div class="card" style="width: 18rem;">
            <img src="{{imgu3}}" class=" card-img-top" alt="...">
            <h5 class="card-title">{{con3}}</h5>
            <p class="card-text">{{desc3}}</p>
            <a href="{{urlg3}}" class="btn btn-primary">Go To Source</a>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header">AQWAVE</h5>
        <div class="card" style="width: 18rem;">
            <img src="{{imgu4}}" class=" card-img-top" alt="...">
            <h5 class="card-title">{{con4}}</h5>
            <p class="card-text">{{desc4}}</p>
            <a href="{{urlg4}}" class="btn btn-primary">Go To Source</a>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header">AQWAVE</h5>
        <div class="card" style="width: 18rem;">
            <img src="{{imgu5}}" class=" card-img-top" alt="...">
            <h5 class="card-title">{{con5}}</h5>
            <p class="card-text">{{desc5}}</p>
            <a href="{{urlg5}}" class="btn btn-primary">Go To Source</a>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header">AQWAVE</h5>
        <div class="card" style="width: 18rem;">
            <img src="{{imgu6}}" class=" card-img-top" alt="...">
            <h5 class="card-title">{{con6}}</h5>
            <p class="card-text">{{desc6}}</p>
            <a href="{{urlg6}}" class="btn btn-primary">Go To Source</a>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header">AQWAVE</h5>
        <div class="card" style="width: 18rem;">
            <img src="{{imgu7}}" class=" card-img-top" alt="...">
            <h5 class="card-title">{{con7}}</h5>
            <p class="card-text">{{desc7}}</p>
            <a href="{{urlg7}}" class="btn btn-primary">Go To Source</a>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header">AQWAVE</h5>
        <div class="card" style="width: 18rem;">
            <img src="{{imgu8}}" class=" card-img-top" alt="...">
            <h5 class="card-title">{{con8}}</h5>
            <p class="card-text">{{desc8}}</p>
            <a href="{{urlg8}}" class="btn btn-primary">Go To Source</a>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header">AQWAVE</h5>
        <div class="card" style="width: 18rem;">
            <img src="{{imgu9}}" class=" card-img-top" alt="...">
            <h5 class="card-title">{{con9}}</h5>
            <p class="card-text">{{desc9}}</p>
            <a href="{{urlg9}}" class="btn btn-primary">Go To Source</a>
        </div>
    </div> --}}

    <script>
        function func1() {
            document.getElementById('loader').remove()
        }
    </script>
</body>

</html>